name: Testing
on:
  workflow_dispatch:
    #inputs:
    #  docker-image-download-url:
    #    description: 'Input URL'
    #    required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Testing
        run: |
          sudo systemctl stop docker.service
          sudo systemctl stop docker.socket
          sudo rm -rf /var/lib/docker
          sudo mkdir -p /var/lib/docker
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 30720
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          build-mount-path: '/var/lib/docker'
          #build-mount-path: '/home/runner/work/test/test'
        
      - name: Testing
        run: |
          sudo systemctl daemon-reload
          sudo systemctl restart docker.service
          sudo chown -R "$(id -un)" $HOME
          sudo chgrp -R "$(id -un)" $HOME
          #wget -O- "${{ inputs.docker-image-download-url }}" | docker load
          exit 0
          docker run -t --name=termux-docker-testing termux/termux-docker:x86_64 bash -c 'export DEBIAN_FRONTEND=noninteractive TERM=xterm-256color; apt update && yes | apt upgrade -y && apt install x11-repo && yes | apt install -y -qqq -o Dpkg::Options::="--force-overwrite" $(apt list | grep / | grep -v .-static/ | grep -v -F "[installed]" | sed "s/\/.*//" | grep -Ev "(binutils-is-llvm|emacs-x|gst-plugins-gl-headers|guile18|i3-gaps|joe|libfm-extra|libisoburn|libobjc2|make-guile|mp3cat-go|mpv-x|ncspot-mpris|nodejs|octave-x|openethereum-utils|pinentry-gtk|qemu-system|shaderc|task-spooler|transmission-gtk|vim-python|vim-gtk|vlc-qt|wireshark-qt|dropbear|byacc|libobjc2|pinentry-gtk|python-pyarrow|vulkan-loader-generic|libblocksruntime|pinentry|vulkan-loader-android|libdispatch|deadbeef|libobjc2|swift|sourcekit-lsp)") nodejs-lts'
          if docker commit termux-docker-testing termux-docker-testing; then
              docker rm -f termux-docker-testing
              docker save termux-docker-testing | gzip --best > termux-docker-testing.tar.gz
              curl bashupload.com -T termux-docker-testing.tar.gz || true
              curl bashupload.com -T termux-docker-testing.tar.gz || true
              #curl bashupload.com -T termux-docker-testing.tar.gz
          fi
          
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
